.Layout-container {
  background: #3FBCAB;
  background: -moz-linear-gradient(left, #3FBCAB 0%, #2788CB 49%, #305675 100%);
  background: -webkit-linear-gradient(left, #3FBCAB 0%, #2788CB 49%, #305675 100%);
  background: linear-gradient(to right, #3FBCAB 0%, #2788CB 49%, #305675 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

