/* src/pages/MovieDetail/MovieDetail.css */
.movie-detail {
  padding: 20px 0;
  color: #fff;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0);
}

.movie-detail-content {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 8px;
  max-width: 1200px;
  margin: 0 auto;
}

.movie-trailer {
  margin-bottom: 20px;
}

.movie-info-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
}

.movie-poster {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-poster img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.movie-rating {
  margin-top: 20px;
  text-align: center;
}

.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: white;
}

.movie-info h1 {
  margin-bottom: 10px;
}

.movie-info p {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.movie-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.movie-details div {
  margin-right: 20px;
}

.similar-movies {
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 8px;
  max-width: 1200px;
  margin: 40px auto 0;
}

.similar-movies h2 {
  margin-bottom: 20px;
}

.similar-movie-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.similar-movie-item {
  width: 150px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.similar-movie-item img {
  width: 100%;
  border-radius: 8px;
}

.similar-movie-item h3 {
  margin-top: 10px;
  font-size: 1em;
  color: white;
}

