body {
  background: #A41164;
  background: -moz-linear-gradient(45deg, #A41164 0%, #CB23A8 30%, #144E75 100%);
  background: -webkit-linear-gradient(45deg, #A41164 0%, #CB23A8 30%, #144E75 100%);
  background: linear-gradient(45deg, #A41164 0%, #CB23A8 30%, #144E75 100%);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.Popular {
  text-align: center;
  padding: 20px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.movie-item {
  position: relative;
  padding: 0; /* Remove padding to avoid extra space */
  border-radius: 8px;
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s ease, z-index 0.3s ease;
  box-shadow: 0px 0px 19px 3px rgba(0, 0, 0, 0.494);
  background: rgba(0, 0, 0, 0.371);
  z-index: 0;
}

.movie-item:hover {
  transform: scale(1.1);
  z-index: 1;
}

.movie-poster {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%; /* Ensure the poster takes full height of the container */
}

.movie-poster img {
  width: 100%;
  height: 100%; /* Ensure the image covers the entire container */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.movie-poster:hover img {
  transform: scale(1.1);
}

.movie-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.movie-item:hover .movie-description {
  opacity: 1;
}

.movie-description h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.movie-description p {
  font-size: 1em;
  color: #ddd;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination-button {
  margin: 0 5px;
  padding: 10px 15px;
  border: none;
  background-color: #144E75;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.pagination-button.active,
.pagination-button:hover {
  background-color: #CB23A8;
}
