/* General styling for the header container */
.Header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: backgroundAnimation 20s infinite alternate linear;
  cursor: url('your-custom-cursor.png'), auto; /* Custom cursor */
  font-family: 'Roboto', sans-serif; /* Google Font Roboto */
}

@keyframes backgroundAnimation {
  0% { background-color: #282c34; }
  50% { background-color: #21252b; }
  100% { background-color: #282c34; }
}

/* Styling for the left section of the header */
.headerLeft {
  display: flex;
  align-items: center;
}

/* Styling for the right section of the header */
.headerRight {
  display: flex;
  align-items: center;
}

/* Styling for the logo */
.header_icon {
  width: 55px;
  height: 55px;
  margin-right: 15px;
  transition: transform 0.3s;
  background: none; /* Change background color to none */
}

/* Optional: Add hover effect */
.header_icon:hover {
  transform: rotate(360deg) scale(1.1);
}

/* Styling for the links and menu button */
.headerLeft a, .menu-button {
  color: #61dafb;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  transition: color 0.3s;
  cursor: pointer;
  background: none; /* Removing default button styling */
  border: none;     /* Removing default button styling */
  padding: 0;       /* Removing default button padding */
  display: inline-flex;
  align-items: center;
  height: 50px;     /* Ensuring same height as other links */
  font-weight: 500; /* Bold font weight */
}

.headerLeft a:hover, .menu-button:hover {
  color: #21a1f1;
  text-shadow: 0 0 5px rgba(33, 161, 241, 0.5);
}

.headerLeft a span, .menu-button span {
  transition: transform 0.3s;
}

.headerLeft a:hover span, .menu-button:hover span {
  transform: scale(1.1);
}

/* Styling for the dropdown menu */
.dropdown {
  position: relative;
}

/* Styling for the dropdown content */
.dropdown-content {
  display: none; /* Initially hide the dropdown */
  grid-template-columns: repeat(5, 1fr); /* Arrange items into four columns */
  gap: 10px; /* Add some gap between items for better readability */
  position: absolute;
  top: 50px; /* Aligns with header height */
  background-color: #282c34;
  border: 1px solid #61dafb;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px;
  z-index: 1;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, display 0s linear 0.3s; /* Delay display change */
  max-height: 400px; /* Limit dropdown height */
  overflow-y: auto; /* Add scrollbar when content exceeds max height */
}

.dropdown:hover .dropdown-content {
  display: grid; /* Change to grid when hovered */
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease; /* Immediate opacity and transform changes */
}

/* Genre links */
.dropdown-content a {
  color: #61dafb;
  text-decoration: none;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  transition: background-color 0.3s, color 0.3s;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.dropdown-content a:hover {
  background-color: #21a1f1;
  color: white;
}

/* Improved styling for genre links */
.dropdown-content a {
  padding: 10px;
  margin: 5px;
  font-weight: 500; /* Bold font weight */
}

.dropdown-content a:hover {
  background-color: #61dafb;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  padding: 5px 10px;
  margin-right: 20px;
  width: 40px; /* Set initial width */
  transition: width 0.3s ease; /* Add transition effect */
  overflow: hidden;
}

.search-bar.open {
  width: 200px; /* Set expanded width */
}

.search-bar form {
  display: flex; /* Utiliser une disposition flex pour aligner les éléments */
  align-items: center; /* Centrer verticalement les éléments */
}

.search-bar input {
  border: none;
  outline: none;
  padding: 5px;
  font-size: 16px;
  flex-grow: 1;
  font-family: 'Roboto', sans-serif; /* Google Font Roboto */
}

.search-bar button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #21a1f1;
  font-size: 16px;
  padding: 5px;
}

.search-bar button:hover {
  color: #21a1f1;
}



/* Styling for the sign-in button */
.sign-in-button {
  background-color: #21a1f1;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 15px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.sign-in-button:hover {
  background-color: #1e90ff;
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(33, 161, 241, 0.5);
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .Header-container {
    flex-direction: column;
    padding: 10px;
  }

  .headerLeft, .headerRight {
    flex-direction: column;
    align-items: flex-start;
  }

  .headerLeft a, .sign-in-button {
    margin: 5px 0;
  }
}