.TopRated {
    text-align: center;
    padding: 20px;
  }
  
  .movie-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .movie-item {
    position: relative;
    /* background: rgba(0, 0, 0, 0.235); */
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease, z-index 0s ease 0.3s;
    -webkit-box-shadow: 0px 0px 19px 3px rgb(0, 0, 0); 
    box-shadow: 0px 0px 19px 3px rgb(0, 0, 0);
  }
  
  .movie-item:hover {
    transform: scale(1.1);
    z-index: 10;
  }
  
  .movie-poster {
    position: relative;
    overflow: hidden;
  }
  
  .movie-poster img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  
  .movie-poster:hover img {
    transform: scale(1.1);
  }
  
  .movie-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .movie-poster:hover .movie-description {
    opacity: 1;
  }
  
  .movie-description h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .movie-description p {
    font-size: 1em;
    color: #ddd;
  }